.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    min-height: 350px;
    width: 550px;
    border-radius: 10px;
    gap: 30px;
    background-color: var(--white-color);
}

.register-form p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.register-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    max-height: 150px;
}

.register-form input {
    background-color: #D9D9D9;
    border: transparent solid 2px;
    width: 370px;
    padding: 5px;
}

.register-form input::placeholder {
    color: #757575;
}

input:focus {
    border: #1E9A22 solid 2px;
    outline: none;
    color: #1E9A22;
}

.register-form button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
