.random-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--accent-color);
    padding: 0;
    width: 100%;
    height: 230px;
    cursor: pointer;
}

.random-button h2 {
    margin-top: 10px;
}


.crop-box {
    width: 300px;
    height: 200px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.default-img {
    width: 100%;
    object-position: top;
    object-fit: cover;
    transform: scale(2);
    transform-origin: top;
}

.cocktail-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


@media (min-width: 992px) {
    .random-button {
        height: 326px;
    }

    .random-button h2 {
        margin-top: 20px;
    }

    .cocktail-img {
        width: 250px;
        height: 250px;
    }

    .crop-box {
        height: 320px;
    }
}