.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
}

.error-button-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    border-radius: 5px;
    border: 2px solid transparent;
    padding: 6px 6px;
    width: 280px;

    font-size: 14px;
    font-family: inherit;

    background-color: #ABEA9A;
    color: inherit;
    cursor: pointer;
}

.error-button-link:hover {
    border: 2px solid #1E9A22;
}