.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    min-height: 300px;
    width: 550px;
    border-radius: 10px;
    gap: 30px;
    background-color: var(--white-color);
}

.login-form .form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.login-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    max-height: 100px;
}

.login-form input {
    background-color: #D9D9D9;
    border: transparent solid 2px;
    width: 370px;
    padding: 5px;
}

.login-form input::placeholder {
    color: #757575;
}

.login-form button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form input.invalid {
    background-color: pink;
}

.login-form .login-details .error {
    font-size: 12px;
    margin: 2px 0 0 130px;
    line-height: 14px;
    min-height: 4px;
    text-align: left;
}

.login-form .error.invalid {
    color: red;
}

.login-form .error.valid {
    color: #1E9A22;
}
