.outer-container-highlighted-cocktail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    background: var(--white-color);
    width: 100%;
}

.outer-container-highlighted-cocktail img {
    height: 150px;
    width: auto;
}

.button-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    border-radius: 5px;
    border: 2px solid transparent;
    padding: 6px 6px;
    width: 70px;

    font-size: 14px;
    font-family: inherit;

    background-color: #ABEA9A;
    color: inherit;
    cursor: pointer;
}

.button-link:hover {
    border: 2px solid #1E9A22;
}

@media (min-width: 992px) {
    .outer-container-highlighted-cocktail {
        width: 400px;
    }

}