.outer-container-highlighted-cocktail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    background: var(--white-color);
    width: 100%;
}

.outer-container-highlighted-cocktail img {
    height: 150px;
    width: auto;
}

@media (min-width: 992px) {
    .outer-container-highlighted-cocktail {
        width: 400px;
    }

}