.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    min-height: 300px;
    width: 550px;
    border-radius: 10px;
    gap: 30px;
    background-color: var(--white-color);
    padding-bottom: 20px;
}

.register-form .form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.register-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    max-height: 100px;
}


.register-form input {
    background-color: #D9D9D9;
    border: transparent solid 2px;
    width: 370px;
    padding: 5px;
}

.register-form input::placeholder {
    color: #757575;
}


.register-form button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.register-form input.invalid {
    background-color: pink;
}

.register-form .register-details .error {
    font-size: 12px;
    margin: 2px 0 0 130px;
    line-height: 14px;
    min-height: 4px;
    color: red;
    text-align: left;
}

.register-form .error.invalid {
    color: red;
}

.register-form .error.valid {
    color: #1E9A22;
}

.button-row {
    display: flex;
    gap: 12px;
}

.register-error {
    font-size: 12px;
    margin: 2px 0 0 12px;
    color: red;
}