.outer-container-hc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    background: var(--white-color);
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}

.outer-container-hc img {
    height: 150px;
    width: auto;
}