.outer-container-highlighted-cocktail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    background: var(--white-color);
    width: 100%;
}

.outer-container-highlighted-cocktail img {
    height: 150px;
    width: auto;
}