
.main-catalog-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    gap: 20px;
    padding-bottom: 15px;
}

.searchbar-filterbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 500px;
}

.container-cocktails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--white-color);
    padding-top: 10px;
    margin: 10px;
    gap: 20px;
    border-radius: 10px 10px 0 0;
    width: 180px;
    height: auto;
}

.items:hover {
    background-color: #1E9A22;
}

.items img {
    width: 180px;
    height: auto;
    overflow: hidden;
}

.items h3 {
    line-break: normal;
}

main button {
    width: 120px;
}

details {
    border: 2px solid #ABEA9A;
    background-color: #ABEA9A;
    width: 500px;
    border-radius: 4px;
    padding: 10px;
}

details li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    list-style: none;
}

summary {
    font-weight: bold;

}

details[open] {
    padding: 10px;
    border: 2px solid #1E9A22;
}

details[open] summary {
    margin-bottom: 10px;
}



@media (min-width: 992px) {
    .container-cocktails {

    }

    .items {
        flex-basis: calc(100% / 2);
        max-width: 180px;
    }
}