@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


/* -----------------------------------Global Styles------------------------------------------- */

:root {
  --primary-color: #92E7F3;
  --secondary-color: #F3A1B4;
  --accent-color: #ABEA9A;
  --white-color: #FFFFFF;
  --font-body: 'Comfortaa', sans-serif;
  --font-heading: 'Fredoka', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body), sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}