@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


/* -----------------------------------Global Styles------------------------------------------- */

:root {
    --primary-color: #92E7F3;
    --secondary-color: #F3A1B4;
    --accent-color: #ABEA9A;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --font-body: 'Comfortaa', sans-serif;
    --font-heading: 'Fredoka', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body), sans-serif;
    color: var(--black-color);
}
/* -------------------------------------Typography--------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading), sans-serif;
}

p {
    margin: 20px 0;
    line-height: 1.5;
}

/* ---------------------------------------Buttons--------------------------------------------- */

button {
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 6px 6px;
    width: 70px;
    font-size: 14px;
    font-family: inherit;
    background-color: #ABEA9A;
    cursor: pointer;
}

button:hover {
    border: 2px solid #1E9A22;
}
