.main-homepage {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 150px);
    gap: 20px;
}

.container-main-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin: 0 20px;
    gap: 20px;
}

.highlighted-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.highlighted-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.highlighted-cocktails {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.random-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: center;
}


@media (min-width: 992px) {
    .container-main-content {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
    }

    .highlighted-cocktails {
        flex-direction: row;
        max-width: 900px;
    }

    .highlighted-title {
        text-align: left;
    }

    .random-title {
        text-align: left;
    }
}